// Базовые цвета
$bg-color: var(--bg-color);
$text-color: var(--text-color);
$primary-color: var(--primary-color);

// Акцентная палитра
$first-color: var(--first-color);
$second-color: var(--second-color);
$third-color: var(--third-color);
$thoth-color: var(--thoth-color);

// Компонентные цвета
$card-bg: var(--card-bg);
$button-bg: var(--button-bg);
$button-text: var(--button-text);

// Прочее
$border-color: var(--border-color);
$shadow-color: var(--shadow-color);